*{
    
    margin: 0px;
    padding: 0px;

}
body {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
header{
    
    background-color: rgb(2, 35, 48);
}
.img1{
    
    border: 5px white solid;
    margin-left: 65px;
    margin-top: 5px;
    
}
.img1:hover{
    border: 5px aquamarine solid;
    transition: 250ms ease-in-out;

}


.head-tag{
    float: right;
    margin-top: 25px ;
    margin-right: 50px;
    word-spacing: 30px;
    
}
.head-tag a{
    
    text-decoration: none;
    color: white;
    border: 1px;
    padding: 8px;
    
    
}
.head-tag a:hover{
    text-decoration: none;
    background-color: aquamarine;
    color: black;
    transition: 250ms ease-in-out;


}

/* form */


.login{
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    border: 2px solid black;
    background-image: url(./images/log1.jpg);
    /* background-color: aquamarine; */
    
    height: 25em;
    margin-top: 8%;
    margin-right:25%;
    margin-left: 25%;
    padding: 10px;
   /* margin-left: 220px;
    margin-right: 220px;
    margin-top: 150px;
    background-color: aqua;
    */

    
   
    
}

.lcontent{
    font-size: larger;
    color:black;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid white;
    box-sizing: border-box;
}
.login h2{
    font-size: xx-large;
}
.login #buttonl{
    width: 100%;
    height: 3em;
    background-color:#069726;
    color: white;

}
.login #buttonl:hover{
    opacity: 80%;
}
.login #buttonr{
    width: 100%;
    height: 3em;
    background-color:rgb(250, 4, 4);
    color: white;

}
.login #buttonr:hover{
    opacity: 80%;
}
.misc{
    font-size: large;
    color: bisque;
}
/*.blurr{
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}*/
.misc a{
    text-decoration: none;
    color: rgb(0, 7, 10);
}
.misc a:hover{
    background-color: blue;
    color: white;
}



.signup{
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    border: 2px solid black;
    background-image: url(./images/sign1.jpg);
    /* background-color: aquamarine; */
    
    height: 40em;
    margin-top: 8%;
    margin-right:25%;
    margin-left: 25%;
    padding: 10px;
   /* margin-left: 220px;
    margin-right: 220px;
    margin-top: 150px;
    background-color: aqua;
    */
}
.signup #buttonl{
    width: 100%;
    height: 3em;
    background-color:#0b8d0f;
    color: white;

}
.signup #buttonl:hover{
    opacity: 80%;
}
.signup #buttonr{
    width: 100%;
    height: 3em;
    background-color:rgb(223, 51, 8);
    color: white;

}
.signup #buttonr:hover{
    opacity: 80%;

}
.myMargin{
    /* border: 2px solid white; */
    /* padding-left: 0px; */
    margin-top: 10%;
    float: right;
}

.firstpgh1{
    margin-left: 100px;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
    color: rgb(19, 9, 9);
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.firstpgh5{
    margin-left: 150px;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
    font-size:xx-large;
    color: rgb(12, 7, 7);
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.fontp1{
    margin-left: 40px;
    text-indent: 50px;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif; 
    font-size: x-large;
    color:white;
    line-height: 25px;
    
    /* text-shadow: 3px 3px 3px #fff; */
}

.first-letter {
    font-size: 35px;
    
  }


.body1{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.firstpgh12{
    margin-left: 100px;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
    color:white;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.container{
    /* border: 2px white solid ; */
    /* margin-top: 1%; */
    margin-left:5%;
    
    
}
.pbox{
    border: 2px white solid; 
    width: 280px;
    height: 250px;
    float: left;
    margin-left: 15px;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    
}




.imgdis1{
    
    width: 280px;
    height: 250px;
    
}

.imgdis1:hover{
    content: url(./images/districts/kasargodblrr.jpg);
    transition: 2ms ;
}

.imgdis2{
    width: 280px;
    height: 250px;
}

.imgdis2:hover{
    content: url(./images/districts/kannurblrr.jpg);
    transition: 2ms ;
}



.imgdis3{
    width: 280px;
    height: 250px;
}

.imgdis3:hover{
    content: url(./images/districts/wayanadblrr.jpg);
    transition: 2ms ;
}


.imgdis4{
    width: 280px;
    height: 250px;
}

.imgdis4:hover{
    content: url(./images/districts/kozhikodeblrr.jpg);
    transition: 2ms ;
}


.imgdis5{
    width: 280px;
    height: 250px;
}

.imgdis5:hover{
    content: url(./images/districts/malapuramblrr.jpg);
    transition: 2ms ;
}



.imgdis6{
    width: 280px;
    height: 250px;
}

.imgdis6:hover{
    content: url(./images/districts/palakkadblrr.jpg);
    transition: 2ms ;
}



.imgdis7{
    width: 280px;
    height: 250px;
}

.imgdis7:hover{
    content: url(./images/districts/thrissurblrr.jpg);
    transition: 2ms ;
}




.imgdis8{
    width: 280px;
    height: 250px;
}

.imgdis8:hover{
    content: url(./images/districts/ernakulamblrr.jpg);
    transition: 2ms ;
}




.imgdis9{
    width: 280px;
    height: 250px;
}

.imgdis9:hover{
    content: url(./images/districts/idukkiblrr.jpg);
    transition: 2ms ;
}



.imgdis10{
    width: 280px;
    height: 250px;
}

.imgdis10:hover{
    content: url(./images/districts/alappzhablrr.jpg);
    transition: 2ms ;
}



.imgdis11{
    width: 280px;
    height: 250px;
}

.imgdis11:hover{
    content: url(./images/districts/kottayamblrr.jpg);
    transition: 2ms ;
}




.imgdis12{
    width: 280px;
    height: 250px;
}

.imgdis12:hover{
    content: url(./images/districts/pathanamthittablrr.jpg);
    transition: 2ms ;
}



.imgdis13{
    width: 280px;
    height: 250px;
}

.imgdis13:hover{
    content: url(./images/districts/kollamblrr.jpg);
    transition: 2ms ;
}


.imgdis14{
    width: 280px;
    height: 250px;
}

.imgdis14:hover{
    content: url(./images/districts/thiruvananthapuramblrr.jpg);
    transition: 2ms ;
}



.myMargin1{
    /* border: 2px solid white; */
    /* padding-left: 0px; */
    margin-top: 2%;
    float: left;
}


.fontp{
    margin-left: 40px;
    text-indent: 50px;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif; 
    font-size: x-large;
    color:black;
    line-height: 25px;
    
    /* text-shadow: 3px 3px 3px #fff; */
}


.fontp3{
    /* margin-left: 40px; */
    text-indent: 50px;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif; 
    font-size: x-large;
    color:white;
    line-height: 25px;
    
    /* text-shadow: 3px 3px 3px #fff; */
}
/* new form */

form{
    width: 500px;
    margin: 8% auto;
    padding: 50px 50px;
    text-align: center;
    box-shadow: 0 20px 40px;
    


}


.input-box{
    margin: 30px auto;
    width: 80%;
    position: relative;
    box-shadow: 0 8px 10px -10px ;

}
.input-box input{
    width: 100%;
    height: 40px;
    border: none;
    background: #efefef;
    padding-left: 50px;
    

}

.span1{
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background: linear-gradient(to right,#4CAF50,#00BCD4);
}

.span1 .fa{
    padding: 10px;
    color: #fff;
}

.button-signup{
    
    width: 130px;
    height: 40px;
    margin-left: 35%;
    display: block;
    color: #fff;
    border: 0;
    font-size: 16px;
    outline: none;
    background: linear-gradient(to right,#07500a,#062b30);
    cursor: pointer;

       
}

.button-signup:hover{
    background: linear-gradient(to right,#57f35d,#3ed8ec);
    cursor: pointer;
}
button .fa{
    margin-right: 10px;

}

.password-strength-indicator{
    font-size: 12px;
    display: inline-block;
    height: 15px;
    min-width: 20%;
    text-align: center;
    transition: 1s;
    margin: 50px 0;
    color: #fff;
}

.password-strength-indicator.very-weak{
    background: #cf0000;
    width: 20%;
}

.password-strength-indicator.weak{
    background: #f6891f;
    width: 40%;
}
.password-strength-indicator.good{
    background: #c9c940;
    width: 60%;
}
.password-strength-indicator.strong{
    background: #91f829;
    width: 80%;
}
.password-strength-indicator.very-strong{
    background: #1b9602;
    width: 100%;
}




/* --------------------------------------------------- */

.welcome-text{
    margin: 30px auto;
    width: 80%;
    position: relative;
    text-align: center;
    align-items: center;
    width: 420px;
    height: 40px;
    margin-left: 35%;
    display: block;
    color: #fff;
    border: 0;
    font-size: 16px;
    outline: none;
    font-size: x-large;
    margin-top: 5%;

    

}
.slide{
    display: none;
}
.counter-box{

    width: 4% auto;
    height: 4% auto;
    margin: 8% auto;
    padding: 50px 50px;
    text-align: center;
    box-shadow: 0 20px 40px;
    float: right;
}

.buttonf{
    width: 130px;
    height: 40px;
    /* margin-left: 35%;  */
    /* display: block; */
    color: #fff;
    border: 0;
    font-size: 16px;
    outline: none;
    background: linear-gradient(to right,#07500a,#062b30);
    cursor: pointer;

       
}

.buttonf:hover{
    background: linear-gradient(to right,#57f35d,#3ed8ec);
    cursor: pointer;

}

#name{
    width: 50%;
    height: 40px;
    border: none;
    background: #efefef;
    padding-left: 50px;
}


.json-list{
    margin-left: 40px;
}

.head-todo{
    opacity: 70%;

}

.link-hover{
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
    margin-left: 10px;
    text-indent: 10px;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif; 
    font-size: x-large;
    color:white;
    line-height: 25px;
}

.link-hover:hover{
  opacity: 100%;
  text-decoration: none;
  cursor: pointer;

}
.main-section{
    margin-left: 5%;
}
#errormail{
    color:white;
}
.show-checked-button{
    float: right ;

}

.slide-todo{
    /* margin: 30px auto; */
    /* float: right;
    box-shadow: 0 8px 10px -10px ;
    max-width: 250px ;
    margin: auto;  
    padding: 50px 50px;
    text-align: center;
    box-shadow: 0 20px 40px;
    margin-top:10%;
    margin-right: 7% ;
    /* left: 75% ; */
    /* margin-left: 70%; */
     
    /* position: fixed;  */
    background-color: rgb(10, 44, 136);
    opacity: 85%;
    margin-top:10%;
    margin-right: 7% ;
    margin-left: 70%;
    position: fixed;
    float: right;
    width: 100px;
    height: 100px;
    display: none;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 40px;
    
    
    
    display: none;
    
    

    
}
.color-text{
    margin-top: 5px;
    color: white;
}
.spacing-in-button{
    padding-top: 15px;
}
